<body>  
    <div class="text-success" id="message"> <h2>Hi, Welcome to our FLIPDEAL Wallet Website.</h2></div>
    <div class="wrapper">
        
        <p>This is an online wallet application that allows us to handle our money more quickly and efficiently. 
            We can handle several wallets during a single secure login session. 
            According, to this wallet's ability to maintain track of our accounts. 
            It is an efficient application that can carry out multiple tasks, including adding, 
            deleting, and updating various wallet details with a single click.<br>
This online wallet application includes functions like: <li>adding money to wallet.</li><li>withdrawing money from wallet.</li> 
<li>Transfer money from one account to another account.</li></p>
        
    </div>
    <img class="image" src="../../../assets/images/walletimages.png">
</body>
    